<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>pagina 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-button routerLink="">home</ion-button>
  <ion-text color="primary">
    <h1>botones de ionic</h1>
  </ion-text>
  <!-- mis botones -->
  <ion-button>mi boton</ion-button>

  <ion-button expand="block" color="secondary">
    boton con expand-block
  </ion-button>

  <ion-button expand="block" fill="clear" color="danger">
    boton con expand-block
  </ion-button>

  <ion-button expand="block" color="success">
    <ion-icon slot="start" name="star" color="warning"></ion-icon>
    <ion-text color="dark">
      <p>boton con icono</p>
    </ion-text>
  </ion-button>
</ion-content>
